spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/socialdb
    username: socialuser
    password: socialpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  main:
    allow-bean-definition-overriding: true

server:
  port: 8080
